@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/images/header_1.jpg");
    background-size: cover;
}

#main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/images/header_2.jpg");
    background-size: cover;
}

.mainImage {
    height: 100vh;
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    margin: 40px;
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
    border-radius: 20px;
    border: 1px solid black;
    padding: 1.5rem;
    max-width: 30%;
}

#header {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
}