@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#TopDiv {
    float: top;
    width: 100%;
    background-color: #deb887;
    font-family: "Josefin Sans", sans-serif;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/images/header_1.jpg");
    background-size: cover;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
}

#main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/images/header_2.jpg");
    background-size: cover;
}

.mainImage {
    height: 100vh;
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.text {
    background-color: #cdaa7d;
    margin: 40px 20px;
    box-shadow: 5px 5px 5px rgba(119, 119, 119, 0.2);
    border-radius: 20px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    max-width: 800px;
    width: 100%;
}

#header {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
}